# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db

# Logs
*.log

# Output files
app_qlpk/output/*
!app_qlpk/output/.gitkeep

# Virtual environment
venv/
.venv/
ENV/
env/

# PyInstaller
build/
dist/
*.spec
